<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AspNetVNext" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
    <add key="NuGet.org" value="https://nuget.org/api/v3/" />
    <add key="ZeekoGet" value="https://www.myget.org/F/zeekoget/api/v3/index.json" />
  </packageSources>
</configuration>
