
<#
foreach(var api in Apis)
{
    WriteApi(api.Url, api.Method);
}
#>

<#+
private void WriteApi(string method, string url)
{
#>
function GetValues(callback) {
    $.ajax({
        url: "<#=url#>",
        type: "<#=method#>",
        data: JSON.stringify(obj),
        contentType: "application/json",
        success: function (res) {
            callback(res);
        }
    })
}
<#+
}
#>
